.update-password {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-20);
    justify-content: center;
    align-items: center;
}
.update-password__input {
    width: 37rem;
    margin-bottom: 2rem;
}
