.react-datepicker-wrapper {
    width: 100% !important;
}

.react-datepicker.date-picker {
    font-family: "Inter", sans-serif;
    width: max-content;
    border: none;
    box-shadow: var(--shadow-xl);
}

.react-datepicker__day.date-picker__day-wrapper {
    height: 3.6rem;
    width: 3.6rem;
    color: var(--jaguar-900);
}

.react-datepicker__day.date-picker__day-wrapper:hover {
    background-color: var(--primary-50);
}

.date-picker__day {
    font-size: var(--font-size-14);

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-datepicker__triangle {
    display: none;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: var(--primary-500) !important;
    color: var(--white) !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    background-color: var(--primary-500) !important;
    color: var(--white) !important;
}

.react-datepicker__header {
    border: none !important;
    background-color: var(--white) !important;
}

.react-datepicker__current-month {
    color: var(--jaguar-900) !important;
    font-size: var(--font-size-20) !important;
    font-weight: var(--font-weight-400) !important;
}

.react-datepicker__current-month {
    height: 76px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-bottom: 1px solid var(--jaguar-200);
}

.react-datepicker__day-names {
    display: flex !important;
    margin-left: 2px;
}

.react-datepicker__day-name {
    height: 3.6rem !important;
    width: 3.6rem !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: var(--font-size-14) !important;
    color: var(--jaguar-400) !important;
}

.react-datepicker__navigation.react-datepicker__navigation--previous,
.react-datepicker__navigation.react-datepicker__navigation--next {
    top: 32px !important;
}
