.sign-up {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-20);
}

.sign-up__preferred-name {
    grid-column: 1 / 3;
}

.sign-up__email {
    grid-column: 1 / 3;
}

.sign-up__submit-button {
    grid-column: 1 / 3;
}
