.select {
    position: relative;
    width: 100%;
}

/* Header */
.btn-secondary.select__header {
    background-color: var(--white);
    justify-content: space-between;
    padding: 0 var(--space-8) 0 var(--space-16);
    font-weight: var(--font-weight-400);
}

.btn-secondary.select__header:hover {
    border-color: var(--primary-500);
    background-color: var(--white);
}

.btn-secondary.select__header.select__header--has-selection {
    color: var(--jaguar-900);
}

.btn-secondary.select__header:focus {
    border-color: var(--primary-500);
    background-color: var(--white);
}

/* Header Icon */
.select__icon {
    transition: 0.3s;
    fill: var(--jaguar-500);
}

.select__icon--expanded {
    transform: rotate(180deg);
}

/* Body */
.select__body {
    position: absolute;
    top: calc(100% + var(--space-4));
    list-style-type: none;
    border: 0.15rem solid var(--jaguar-100);
    width: 100%;
    padding: var(--space-4);
    background-color: var(--white);
    z-index: 2;

    max-height: 14.5rem;
    overflow-y: auto;
}

.select-medium .select__body {
    max-height: 16.1rem;
}

.select-large .select__body {
    max-height: 17.7rem;
}

.select-rounded .select__body {
    border-radius: var(--border-radius-8);
}

.select-circle .select__body {
    border-radius: var(--border-radius-20);
}

.select-large.select-circle .select__body {
    border-radius: var(--border-radius-24);
}

/* Select Item */
.select__item {
    height: 3.2rem;
    color: var(--jaguar-900);
    font-size: var(--font-size-16);
    display: grid;
    grid-template-columns: 1fr 2rem;
    align-items: center;
    padding: 0 var(--space-12);
    transition: all 0.3s;
    cursor: pointer;
}
.select__item:not(:last-child) {
    margin-bottom: var(--space-2);
}

.select__item:hover {
    background-color: var(--jaguar-100);
}

.select-medium .select__item {
    height: 3.6rem;
}

.select-large .select__item {
    height: 4rem;
}

.select-rounded .select__item {
    border-radius: var(--border-radius-8);
}

.select-circle .select__item {
    border-radius: var(--border-radius-20);
}

.select-large.select-circle .select__item {
    border-radius: var(--border-radius-24);
}

.select__item--selected {
    background-color: var(--jaguar-100);
}

.select__selected-icon {
    fill: var(--primary-500);
}

/* Scroll Bar */

.select__body::-webkit-scrollbar {
    width: 0.8rem;
    border-radius: var(--border-radius-0);
}

.select__body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: var(--border-radius-0);
}

.select__body::-webkit-scrollbar-thumb {
    background: var(--jaguar-100);
    border-radius: var(--border-radius-0);
}

.select-rounded .select__body::-webkit-scrollbar {
    border-radius: var(--border-radius-8);
}

.select-rounded .select__body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: var(--border-radius-8);
}

.select-rounded .select__body::-webkit-scrollbar-thumb {
    background: var(--jaguar-100);
    border-radius: var(--border-radius-8);
}

.select-circle .select__body::-webkit-scrollbar {
    display: none;
}

.select-circle .select__body::-webkit-scrollbar-track {
    display: none;
}

.select-circle .select__body::-webkit-scrollbar-thumb {
    display: none;
}
