.kanban-badge-wrapper {
    padding: var(--space-6) var(--space-10);
    display: flex;
    justify-content: space-between;
    width: 9.2rem;
    height: 3.2rem;
    border-radius: var(--border-radius-8);
}

.TODO-badge-wrapper {
    background-color: var(--jaguar-25);
}

.INPROGRESS-badge-wrapper {
    background-color: var(--sunglow-25);
}

.DONE-badge-wrapper {
    background-color: var(--green-25);
}

.flag {
    width: 1.8rem;
    height: 1.8rem;
}

.check-mark {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--green-500);
}

.TODO-flag {
    fill: var(--jaguar-400);
}

.INPROGRESS-flag {
    fill: var(--sunglow-700);
}

.TODO-due-date {
    color: var(--jaguar-400);
}

.INPROGRESS-due-date {
    color: var(--sunglow-700);
}

.DONE-due-date {
    color: var(--green-500);
}
