:root {
    --colors-primary-900: #00d;
    --colors-primary-800: #2c0ee3;
    --colors-primary-700: #4617e8;
    --colors-primary-600: #5b21f0;
    --colors-primary-500: #6826f7;
    --colors-primary-400: #844efa;
    --colors-primary-300: #9e70fb;
    --colors-primary-200: #bb9cfb;
    --colors-primary-100: #d7c4fc;
    --colors-primary-50: #f0e7fe;
    --colors-primary-25: #f7f3fe;
    --colors-primary-12: #fbf9ff;

    --colors-sunglow-900: #f96e16;
    --colors-sunglow-800: #fa8c18;
    --colors-sunglow-700: #fb9d19;
    --colors-sunglow-600: #fcaf1a;
    --colors-sunglow-500: #fcbd1f;
    --colors-sunglow-400: #fdc632;
    --colors-sunglow-300: #fed254;
    --colors-sunglow-200: #fede84;
    --colors-sunglow-100: #ffebb4;
    --colors-sunglow-50: #f0e7fe;
    --colors-sunglow-25: #fffbf0;
    --colors-sunglow-12: #fffdf8;

    --colors-jaguar-900: #2a2836;
    --colors-jaguar-800: #2a2836;
    --colors-jaguar-700: #474555;
    --colors-jaguar-600: #5a5768;
    --colors-jaguar-500: #817d8f;
    --colors-jaguar-400: #a29fb2;
    --colors-jaguar-300: #c8c5d8;
    --colors-jaguar-200: #ddd9ed;
    --colors-jaguar-100: #ece8fc;
    --colors-jaguar-50: #f7f3ff;
    --colors-jaguar-25: #fbf9ff;
    --colors-jaguar-12: #fdfcff;

    --colors-dodger-blue-900: #2842c9;
    --colors-dodger-blue-800: #2165e8;
    --colors-dodger-blue-700: #1977fb;
    --colors-dodger-blue-600: #048bff;
    --colors-dodger-blue-500: #009aff;
    --colors-dodger-blue-400: #28a9ff;
    --colors-dodger-blue-300: #58baff;
    --colors-dodger-blue-200: #8dceff;
    --colors-dodger-blue-100: #bbe0ff;
    --colors-dodger-blue-50: #e3f3ff;
    --colors-dodger-blue-25: #f1f9ff;
    --colors-dodger-blue-12: #f8fcff;

    --colors-green-900: #006500;
    --colors-green-800: #008400;
    --colors-green-700: #00950e;
    --colors-green-600: #00a71e;
    --colors-green-500: #00b627;
    --colors-green-400: #46c24e;
    --colors-green-300: #6dcd6f;
    --colors-green-200: #9ada9a;
    --colors-green-100: #c2e9c1;
    --colors-green-50: #e6f6e6;
    --colors-green-25: #f2faf2;
    --colors-green-12: #f9fdf9;

    --colors-light-green-900: #009b00;
    --colors-light-green-800: #00c000;
    --colors-light-green-700: #00d400;
    --colors-light-green-600: #28ea00;
    --colors-light-green-500: #48fd00;
    --colors-light-green-400: #74ff03;
    --colors-light-green-300: #99ff59;
    --colors-light-green-200: #bcff91;
    --colors-light-green-100: #d9ffbe;
    --colors-light-green-50: #f0ffe5;
    --colors-light-green-25: #f7fff2;
    --colors-light-green-12: #fbfff9;

    --colors-black-900: #000;
    --colors-black-800: #262626;
    --colors-black-700: #434343;
    --colors-black-600: #555;
    --colors-black-500: #7b7b7b;
    --colors-black-400: #9d9d9d;
    --colors-black-300: #c4c4c4;
    --colors-black-200: #d9d9d9;
    --colors-black-100: #e9e9e9;
    --colors-black-50: #f5f5f5;
    --colors-black-25: #fafafa;
    --colors-black-12: #fdfdfd;

    --colors-red-orange-900: #bf1817;
    --colors-red-orange-800: #cf2524;
    --colors-red-orange-700: #db2d2b;
    --colors-red-orange-600: #ee3831;
    --colors-red-orange-500: #fc4130;
    --colors-red-orange-400: #f7534d;
    --colors-red-orange-300: #ec7372;
    --colors-red-orange-200: #f59b99;
    --colors-red-orange-100: #ffcdd2;
    --colors-red-orange-50: #ffebee;
    --colors-red-orange-25: #fff5f6;
    --colors-red-orange-12: #fffafb;

    --colors-rose-900: #9c0056;
    --colors-rose-800: #c2005b;
    --colors-rose-700: #d7005d;
    --colors-rose-600: #ed0061;
    --colors-rose-500: #ff0064;
    --colors-rose-400: #ff197d;
    --colors-rose-300: #ff5496;
    --colors-rose-200: #ff89b4;
    --colors-rose-100: #ffb9d2;
    --colors-rose-50: #ffe3ed;
    --colors-rose-25: #fff1f6;
    --colors-rose-12: #fff8fb;

    --colors-purple-900: #4c00df;
    --colors-purple-800: #8300ea;
    --colors-purple-700: #9b00ed;
    --colors-purple-600: #b600f1;
    --colors-purple-500: #c900f6;
    --colors-purple-400: #d400f9;
    --colors-purple-300: #dd56fb;
    --colors-purple-200: #e88dfb;
    --colors-purple-100: #f1bcfc;
    --colors-purple-50: #fae5fe;
    --colors-purple-25: #fcf2fe;
    --colors-purple-12: #fef9ff;

    --colors-blue-ribbon-900: #0000c2;
    --colors-blue-ribbon-800: #0025d2;
    --colors-blue-ribbon-700: #0032dd;
    --colors-blue-ribbon-600: #003ee9;
    --colors-blue-ribbon-500: #0247f5;
    --colors-blue-ribbon-400: #4965f9;
    --colors-blue-ribbon-300: #7083fb;
    --colors-blue-ribbon-200: #9da6fb;
    --colors-blue-ribbon-100: #c6c9fd;
    --colors-blue-ribbon-50: #e8eaff;
    --colors-blue-ribbon-25: #f3f4ff;
    --colors-blue-ribbon-12: #f9faff;

    --colors-blue-charcoal-900: #00040f;
    --colors-blue-charcoal-800: #26282f;
    --colors-blue-charcoal-700: #43464d;
    --colors-blue-charcoal-600: #55585f;
    --colors-blue-charcoal-500: #7b7e86;
    --colors-blue-charcoal-400: #9da0a9;
    --colors-blue-charcoal-300: #c3c6cf;
    --colors-blue-charcoal-200: #d8dbe4;
    --colors-blue-charcoal-100: #e6eaf3;
    --colors-blue-charcoal-50: #f2f5ff;
    --colors-blue-charcoal-25: #f8faff;
    --colors-blue-charcoal-12: #fcfdff;
}
